* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Open Sans", sans-serif;
}

/* Selector Class */
.image {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* Selector Tag */
footer {
  display: flex;
  /* Mengubah font size */
  font-size: 10pt;
}

/* Selector Id */
#list-style {
  list-style-type: circle;
}

.container {
  display: flex;
  justify-content: center;
  /* Mengubah background */
  background-color: #77287d;
}

@import url("https://fonts.googleapis.com/css2?family=Alike+Angular&family=Asul&family=Concert+One&family=Eczar&family=Fruktur&family=Kavoon&family=Neuton&family=Roboto:ital,wght@0,500;1,900&family=Space+Mono&family=Tillana&display=swap");

.text-style {
  /* Mengubah font */
  font-family: "Kavoon", cursive;
  font-size: 30pt;
}

a:link,
a:visited {
  text-decoration: none;
  /* Mengubah tag <a> tidak berwarna biru */
  color: white;
}

th {
  width: 50%;
}

a:hover {
  /* Mengubah warna tulisan */
  color: blue;
}

.button {
  background-color: #f89c1b;
  color: black;
  font-weight: bold;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

.footerside {
  width: 50%;
}

option {
  color: black;
}

.inputdate {
  color: black;
}

.dropdown {
  color: black;
}

input {
  color: black;
}

.buttonposition {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
